@import '../variables.scss';

.PostListItem {
    $parent: &;
    list-style: none;
    margin: $gutter;
    padding: $gutter;

    &__checkbox {
        &, + label { 
            cursor: pointer;
            &:hover {font-weight: 600}
        }
        &:checked {
            ~ * {
                color: $light_green-25;
                text-decoration: line-through;
            }
        }
    }

    &__body {
        text-align: justify;
    }

    &:hover{
        color:$dark_blue-10;
    }
}